node_modules
npm-debug.log
.git
.gitignore
.DS_Store
build
dist
.vscode
.idea
*.log
.env
.env.local
.env.*.local
coverage
.next
.cache
public/index.html
public/static
backend/uploads/audio/*
frontend/node_modules
backend/node_modules
.eslintcache
.npm
.yarn-cache
